@font-face {
    font-family: "Gilam";
    src: url(../fonts/Gilam-Trial-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Gilam Bold";
    src: url(../fonts/Gilam-Trial-Bold.ttf);
}

@font-face {
    font-family: "Gilam Book";
    src: url(../fonts/Gilam-Trial-Book.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}


.wrapper {
    background-color: #171717;
    margin: 0 auto;
    width: 1920px;
    height: 4000px;
    font-family: "Gilam", sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 46px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main_logo{
    width: 216px;
    height: 33px;

}

.callback_btn {
    background-color: #171717;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    color: #E4B564;
    
}

.callback_link {
    text-decoration: none;
    text-align: center;
    color: #E4B564;
}

img.icon_call{
    padding-right: 10px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
    margin-top: 86px;
    margin-bottom: 41px;
    font-style: normal;
    font-family: "Gilam Bold";
}

.background_image_1 {
    background-image: url(../images/parallax-bg.jpeg);
    width: 1920px;
    display: flex;
    justify-content: center;
}

.section_1_info {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    margin-bottom: 41px;
}

.section_first_block {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: white;
    width: 1454px;
    margin-bottom: 75px;
}

.item_1 {
    grid-area: 1 / 1 / 2 / 5;
}

.item_2 {
    grid-area: 1 / 5 / 2 / 9;
}

.item_3 {
    grid-area: 1 / 9 / 2 / 13;
}

.item_4 {
    grid-area: 2 / 1 / 3 / 7;
}

.item_5 {
    grid-area: 2 / 7 / 3 / 13;
}

.section_first_items {
    padding-top: 220px;
    padding-bottom: 220px;
}

.item_1 {
    background-color: #634F2C;
}

.item_2 {
    background-color: #B4A385;
    padding-right: 44px;
    padding-left: 44px;
}

.item_3 {
    background-color: #E4B564;
}

.item_4 {
    background-color: #635A4A;
}

.item_5 {
    background-color:#B08C4D;
}


/* second section starts */

.background_image_2 {
    background-image: url(../images/bg_image1.jpeg);
    width: 1920px;
    display: flex;
    justify-content: center;
}

.section_second_block {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(255px, auto));
    grid-auto-rows: minmax(255px, auto);
    gap: 25px;
    width: 1454px;
}

.section_second_items {
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 25px;
}

.blocks_descr_2{
    padding-top: 44px;
    padding-left: 52px;
 
}

span {
    font-weight: 700;
    font-family: "Gilam Bold", sans-serif;
}

.item_1s {
   background-color:  #0E0E0E;
   height: 313px;
}

.item_2s {
    background-color: #242424;
    height: 439px;
 }

 .item_3s {
    background-color:  #1F1F1F;
    height: 255px;
 }

 .item_4s {
    background-color:  #1F1F1F;
    height: 560px;
    grid-row: 2 / span 2;
    margin-top: -124px;
 }

 .item_5s {
    background-color: #E4B564;
    height: 405px;
    grid-row: 2 / span 2;
    color: black;
 }

 .item_6s {
    background-color:  #0E0E0E;
    height: 313px;
    margin-top: -181px;
 }

 .item_7s {
    background-color: #0A0909;
    height: 277px;
    margin-top: -120px
 }

 /* third section starts */

 .section3_wrapper {
    width: 1920px;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
 }

 .section_3_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 142px;
    margin-bottom: 72px
 }

 .btn_end {
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #0E0E0E;
 }


 .section_third_block {
    display: grid;
    grid-template-rows: 391px 391px;
    grid-template-columns: 487px 487px 487px;
    
 }

 .section_third_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .item_1sc3 {
    background-color: #634F2C;
 }

 .item_2sc3 {
    background-color: #E8D2AB;
 }

 .montage_info_1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
    font-family: "Gilam", sans-serif;
 }

.montage_info_2 {
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: "Gilam", sans-serif;

}

.item_3sc3 {
    background-color: #E4B564;
}

.item_4sc3 {
    background-color: #635A4A;
}

.item_5sc3 {
    background-color: #B08C4D;
}

.item_6sc3 {
    background-color:#634F2C;
}


